<%- include("partials/nav.ejs") %>
<br>

<div class="card mb-3 " style="width: 100%; display: inline-block;height: 500px;  ">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="image/img2.jpg" class="img-fluid rounded-start" alt="a picture" style="height: 450px ; margin-top: 20px;";>
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <form action="/submit" method="POST">
            
              <div class="mb-3">
                <div class="mb-3">
                
                  <label for="formGroupExampleInput" class="form-label">Title:</label>
                  <input type="textarea" name="title" class="form-control" id="formGroupExampleInput" placeholder="write the title">
                </div>
                <br>
                <label for="formGroupExampleInput2" class="form-label">Desciption:</label>
                <div class="textarea-wrapper" >
                    <textarea id="content" name="content" style="height: 250px; width: 100%; border-radius: 10px; " placeholder="write the desciption" required></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>

<%- include("partials/footer.ejs") %>